# Ignore Python cache and virtual environment
__pycache__/
instance/
venv/

# Ignore migration versions and cache, but keep other migration files
migrations/versions/
migrations/__pycache__/

# Ignore Alembic template file
migrations/script.py.mako 